* {
  margin: 0;
  padding: 0;
}

.primary-color {
  color: #ff0000;
}

.secondary-color {
  color: #e6e6e6;
}

.third-color {
  color: #000;
}
.primary-bg {
  background-color: #ff0000;
}

.secondary-bg {
  background-color: #e6e6e6;
}

.third-bg {
  background-color: #000000;
}

.button-style:hover {
  transition: 0.8s;
  color: #ff0000 !important;
}
.button-style {
  margin: 0 0.5rem !important;
  padding: 0.5 1.5rem !important;
}
